html, body{
  font-family: "myriad-pro", sans-serif;
  width: 100%;
  height: 100%;
}

header{
  background: #FA5858;
  position: relative;
  width: 100%;
  height: 100%;
  animation: shrink 0.5s ease-in-out 4s forwards;
}

.svg-wrapper{
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100%;
  animation: shrink-wrapper 0.5s ease-in 4s forwards;
}

.svg-wrapper svg{
  display: table;
  position: relative;
  margin: auto;
  width: 760px;
  animation: shrink-svg 0.5s ease-in-out 4s forwards;
}

.path{
  letter-spacing: 2px;
  fill: #FA5858;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  font-size: 100px;
  font-weight: 500;
  animation: dash 8s linear forwards, fill 0.5s linear 3.2s forwards, shrink-text 0.5s ease-in-out 4s forwards;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .path{
    animation: dash 4s linear forwards, fill 0.5s linear 3.2s forwards, shrink-text 0.5s ease-in-out 4s forwards;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: #ffffff;
  }
}

@keyframes shrink {
  to {
    height: 80px;
  }
}

@keyframes shrink-text {
  to {
    font-size: 30px;
  }
}

@keyframes shrink-svg {
  to {
    width: 270px;
  }
}

@keyframes shrink-wrapper {
  to {
    top: 0%;
  }
}


section{

}

