html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5e3a+0,ff2a68+100 */
  background: #ff5e3a; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff5e3a 0%, #ff2a68 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff5e3a 0%,#ff2a68 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff5e3a 0%,#ff2a68 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e3a', endColorstr='#ff2a68',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;

  font-family: "myriad-pro", sans-serif;
}

header{
  position: relative;
  width: 100%;
  height: 100%;
  animation: shrink 0.5s ease-in-out 5s forwards;
}

.svg-wrapper{
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100%;
  animation: shrink-wrapper 0.5s ease-in 5s forwards;
}

.social-links{
  display: block;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: social-show 0.5s ease-in 3.8s forwards;
}

.social-links a{
  color: white;
}

.svg-wrapper svg{
  display: block;
  position: relative;
  margin: auto;
  width: 760px;
  height: 120px;
  animation: shrink-svg 0.5s ease-in-out 5s forwards;
}

.path{
  letter-spacing: 2px;
  fill: #FF4153;
  stroke: #ffffff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  font-size: 100px;
  font-weight: 500;
  animation: dash 8s linear forwards, fill 0.5s linear 3.2s forwards, shrink-text 0.5s ease-in-out 5s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: #ffffff;
  }
}

@keyframes social-show {
  to {
    opacity: 1;
  }
}

@keyframes shrink {
  to {
    height: 120px;
  }
}

@keyframes shrink-text {
  to {
    font-size: 30px;
  }
}

@keyframes shrink-svg {
  to {
    width: 270px;
    height: 110px;
  }
}

@keyframes shrink-wrapper {
  to {
    top: 0%;
    margin-top: -50px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .path{
    animation: dash 4s linear forwards, fill 0.5s linear 3.2s forwards, shrink-text 0.5s ease-in-out 5s forwards;
  }
  @keyframes shrink-svg {
    to {
      width: 260px;
      height: 110px;
    }
  }
}

@media(max-width:767px){
  .svg-wrapper svg{
    width: 320px;
  }
  .path{
    font-size: 40px;
    animation: dash 8s linear forwards, fill 0.5s linear 3.2s forwards, shrink-text 0.5s ease-in-out 5s forwards;
  }
  .svg-wrapper{
    margin-top: -100px;
  }
}

a.blocks:hover{
  text-decoration: none;
  background: rgba(0,0,0,0.025);
  color: white !important;
}

h2{
  color: white;
}

a.blocks:hover aside{
  color: white !important;
}

section p{
  font-size: 18px;
  font-weight: 300;
}

a.blocks{
  display: block;
  padding: 40px 20px;
  -moz-transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  transition:all 0.2s ease;
  color: white;
}

a.blocks aside{
  border-radius: 50%;
  background: rgba(0,0,0,0.05);
  color: white;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  font-size: 80px;
  padding: 43px 0px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 800;
  overflow: hidden;
  -moz-transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  transition:all 0.2s ease;
}

